@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
.sidebar {
  background-color: #003b46;
  @apply w-64 shadow flex-col;
}
.sidebar-route {
  @apply rounded-md flex w-full justify-between cursor-pointer items-center m-3 p-3;
}

.titulo-general {
  @apply text-gray-900 text-4xl font-semibold;
}

.form-general {
  @apply mt-2 flex flex-row items-center justify-center;
}

.input-general {
  @apply w-auto h-auto rounded-md px-1 py-1 border border-gray-400 placeholder-gray-500 text-gray-900 
  focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:z-10 transition-all;
}

.btn-general {
  @apply w-auto h-auto bg-green-700 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md cursor-pointer transition-all shadow-xl;
}

.btn-general-submit {
  @apply w-auto h-auto bg-indigo-700 hover:bg-indigo-900 text-white font-bold py-2 px-4 rounded-md cursor-pointer transition-all shadow-xl;
}

.btn-general-cancelar {
  @apply w-auto h-auto bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-md cursor-pointer transition-all shadow-xl;
}

.btn-general-editar {
  @apply w-auto h-auto bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-md cursor-pointer transition-all shadow-xl;
}

.navbar {
  @apply flex items-center bg-green-700 justify-center flex-wrap p-6 text-4xl text-white font-bold;
}

#accordion {
  @apply bg-green-300 bg-opacity-20 hover:bg-green-300 hover:bg-opacity-40 rounded-md transition-all;
}

/* ESTILOS DE TABLAS INICIO */
.formSubmitList {
  @apply text-center pb-5 mb-5;
}

.table-container {
  width: 95%;
  @apply flex justify-center items-center text-center pt-10 pb-24;
}

#table-list {
  width: 100%;
  @apply text-left border-collapse bg-gray-100;
}

th {
  @apply border border-solid border-gray-300 bg-green-500 bg-opacity-75 p-4 py-2 text-white rounded-sm;
}

td {
  @apply border border-solid border-gray-200 p-4 py-2 rounded-sm;
}

tr:nth-child(even) {
  @apply bg-gray-200;
}

tr:hover {
  background-color: #fb813e;
  @apply bg-gray-400 hover:bg-opacity-30;
}
/* ESTILOS DE TABLAS FIN */

/*ESTILOS DE USUARIO INICIO*/
.form-usuario {
  @apply mt-9 flex flex-col items-center;
}

.form-campo {
  @apply p-2;
}

.input-usuario {
  @apply w-96 h-auto rounded-md px-1 py-1 border border-gray-400 placeholder-gray-500 text-gray-900 
  focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:z-10 transition-all;
}

.btn-general-usuario {
  @apply w-60 h-auto rounded-md cursor-pointer px-3 py-2 text-gray-900 bg-green-300 hover:bg-green-500 
  hover:text-white transition-all shadow-xl;
}

.btn-editar {
  @apply w-auto h-auto rounded-md cursor-pointer px-3 py-2 m-2 text-gray-500 bg-blue-400 hover:bg-blue-700 
  hover:text-white transition-all shadow-xl;
}

.btn-eliminar {
  @apply w-auto h-auto rounded-md cursor-pointer px-3 py-2 m-2 text-gray-500 bg-red-500 hover:bg-red-700 
  hover:text-white transition-all shadow-xl;
}

.btn-actualizar {
  @apply w-auto h-auto rounded-md cursor-pointer px-3 py-2 mx-2 text-gray-500 bg-yellow-400 hover:bg-yellow-700 
  hover:text-white transition-all shadow-xl;
}


/*ESTILOS DE USUARIO FIN*/
