.sidebar {
  background-color: #003B46;
  @apply w-64 shadow flex-col;
}
.sidebar-route {
  @apply rounded-md flex w-full justify-between cursor-pointer items-center m-3 p-3;
}

.titulo-general {
  @apply text-gray-900 text-4xl font-semibold;
}

.form-general {
  @apply mt-9 flex flex-row items-center;
}

.input-general {
  @apply w-auto h-auto rounded-md px-1 py-1 border border-gray-400 placeholder-gray-500 text-gray-900 
  focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:z-10 transition-all;
}

.btn-general {
  @apply w-auto h-auto rounded-md cursor-pointer px-3 py-2 text-gray-900 bg-green-300 hover:bg-green-500 
  hover:text-white transition-all shadow-xl;
}

/* ESTILOS DE TABLAS INICIO */
.formSubmitList{
  @apply text-center pb-5 mb-5;
}

.table-container{
  width: 95%;
  @apply flex justify-center items-center text-center pt-10 pb-24;
}

#table-list{
  width: 100%;
  @apply text-left border-collapse bg-gray-100;
}

th{
  @apply border border-solid border-gray-300 bg-green-500 bg-opacity-75 p-4 py-5 text-white;
}

td{
  @apply border border-solid border-gray-200 p-4;
}

tr:nth-child(even){
  @apply bg-gray-200;
}

tr:hover{
  background-color: #FB813E;
  @apply bg-gray-400 hover:bg-opacity-30;
}
/* ESTILOS DE TABLAS FIN */